.cardSize {
  width: 70%;
  display: flex;
  flex-flow: column-reverse;
}

.discussion {
  background-color: #A09ABC;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  color: white;
  padding-left: 40px;
}

.disBtn[type="submit"] {
  float: right;
  width: 20%;
  padding: 10px;
  margin-right: 50px;
  margin-bottom: 10px;
  background-color: #A09ABC;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.disBtn[type="submit"]:hover {
  background-color: #D5CFE1;
}

.comments {
  width: 70%;
  margin-left: 15px;
  background-color: #D5CFE1;
  border:none;
}