footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #A09ABC;
  color: #f0edf3;
  padding: 10px 0;
}

footer .container {
  text-align: center;
}

footer p {
  margin: 0;
}