header {
  background-color: #A09ABC;
  color: #f0edf3;
  padding: 20px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo h1 {
  font-size: 50px;
  margin-left: 20px;
}

.nav-links {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style-type: none;
  font-size: 20px;
  text-align: right;
  justify-content: space-evenly;
}

.nav-links li {
  margin-left: 15px;
  font-size: 28px;
  /* font-family: monospace; */
}

.nav-links a {
  color: #D5CFE1;
  text-decoration: none;
}

.nav-links a:hover {
  color: #D4BEBE;
}

.logout-icon {
  width:30px;
}