.home-container {
  text-align: center;
  height: 100vh;
  overflow: auto;
}

.hero-section {
  background-image: url('../images/background-image.avif');
  background-size: cover;
  background-position: center;
  height: 500px;
  position: relative;
  margin-top: 20px;
}

.hero-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #A09ABC;
  text-align: center;
}

.hero-overlay h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.hero-overlay p {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.buttons {
  display: flex;
  justify-content: center;
}

.button {
  margin: 0 0.5rem;
  padding: 0.75rem 2rem;
  font-size: 1.2rem;
  color: #ffffff;
  background-color: #A09ABC;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
}

.button:hover {
  background-color: #D4BEBE;
  text-decoration: none;
}

.content-section {
  margin: 0.5rem 0;
  padding: 0 2rem;
  color: #9189b3;
}

.content-section h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.content-section p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}