.home-container {
  width: 100%;
  margin: auto;
  margin-top: 20px;
  padding: 10px;
  background-color: #A09ABC;
  color: #f0edf3;
  box-sizing: border-box;
}

.home-container h2 {
  text-align: center;
  font-size: 24px;
  margin-bottom: 10px;
}

.home-container p {
  text-align: justify;
  font-size: 16px;
  line-height: 1.5;
}

.home-container a {
  color: #D5CFE1;
  text-decoration: underline;
}

.home-container a:hover {
  color: #D4BEBE;
}
