.profile-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
}

.profile-details {
  display: flex;
  align-items: flex-start;
}

.profile-image img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 0;
}

.profile-info {
  text-align: left;
  margin-left: 50px;
}

.username-addfriend-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.username {
  font-size: 30px;
  margin-right: 10px;
}

.add-friend-button {
  background-color: #A09ABC;
  color: #ffffff;
  border: none;
  padding: 8px 16px;
  font-size: 16px;
  cursor: pointer;
  margin-left: 100px;
}

.add-friend-button:hover {
  background-color: #D4BEBE;
  text-decoration: none;
}

.about-me-text {
  font-size: 18px;
}

.about-me-form {
  margin-bottom: 20px;
  text-align: center;
}

.about-me-textarea {
  width: 100%;
  height: 100px;
  padding: 8px;
  font-size: 16px;
  resize: vertical;
}

.about-me-button {
  background-color: #A09ABC;
  color: #ffffff;
  border: none;
  padding: 8px 16px;
  font-size: 16px;
  cursor: pointer;
}

.about-me-button:hover {
  background-color: #D4BEBE;
  text-decoration: none;
}

.edit-button {
  background-color: #A09ABC;
  color: #ffffff;
  border: none;
  padding: 8px 16px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
}

.edit-button:hover {
  background-color: #D4BEBE;
  text-decoration: none;
}

.discussion-container {
  margin-top: 30px;
}

.discussion-heading {
  font-size: 24px;
  margin-bottom: 10px;
}

.discussion-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-top: 40px;
}

.discussion-list-item {
  margin-bottom: 10px;
}

/* .discussion-card {
  background-color: #A09ABC;
  color: #ffffff;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  font-size: 18px;
} */