.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-image img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.profile-info {
  text-align: center;
}

.username {
  font-size: 24px;
  margin-bottom: 10px;
}

.add-friend-button {
  background-color: #A09ABC;
  color: #ffffff;
  border: none;
  padding: 8px 16px;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 10px;
}

.add-friend-button:hover {
  background-color: #D4BEBE;
  text-decoration: none;
}

.about-me-text {
  font-size: 18px;
  margin-bottom: 20px;
}

.about-me-form {
  margin-bottom: 20px;
}

.about-me-textarea {
  width: 100%;
  height: 100px;
  padding: 8px;
  font-size: 16px;
  resize: vertical;
}

.about-me-button {
  background-color: #A09ABC;
  color: #ffffff;
  border: none;
  padding: 8px 16px;
  font-size: 16px;
  cursor: pointer;
}

.about-me-button:hover {
  background-color: #D4BEBE;
  text-decoration: none;
}

.edit-button {
  background-color: #A09ABC;
  color: #ffffff;
  border: none;
  padding: 8px 16px;
  font-size: 16px;
  cursor: pointer;
}

.edit-button:hover {
  background-color: #D4BEBE;
  text-decoration: none;
}

.discussion-container {
  margin-top: 30px;
}

.discussion-heading {
  font-size: 24px;
  margin-bottom: 10px;
}

.discussion-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.discussion-list-item {
  margin-bottom: 10px;
}


/* .profile-container {
  background-color: #E1DEE9;
  padding: 20px;
  color: #D4BEBE;
}

.profile-header {
  display: flex;
  align-items: center;
}

.profile-avatar img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.profile-info {
  margin-left: 20px;
}

.profile-info h2 {
  color: #B6A6CA;
  font-size: 24px;
  margin-bottom: 10px;
}

.profile-stats {
  color: #A09ABC;
  font-size: 16px;
}

.profile-actions button {
  padding: 10px 20px;
  background-color: #A09ABC;
  color: #FFFFFF;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.profile-actions button:hover {
  background-color: #B6A6CA;
}

.profile-bio p {
  margin-top: 10px;
}

.profile-achievements {
  margin-top: 20px;
}

.profile-achievements h3 {
  color: #A09ABC;
  font-size: 18px;
  margin-bottom: 10px;
}

.profile-achievements ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.profile-achievements ul li {
  margin-bottom: 5px;
}

.profile-achievements ul li a {
  color: #B6A6CA;
  text-decoration: none;
}

.profile-achievements ul li a:hover {
  text-decoration: underline;
} */